include ./layouts/header

block content
  h1.register HQM Report

  form.filter-form(method="get" action="/manager/hqm-report")
    div.form-group
      label(for="from") From:
      input.form-control(type="date" name="from")
    div.form-group
      label(for="to") To:
      input.form-control(type="date" name="to")
    div.form-group
      label(for="branchId") Branch:
      select.form-control(name="branchId")
        option(value="") All Branches
        each branch in branches
          option(value=branch.id selected=branch.id == selectedBranchId) #{branch.name}
    div.form-group
      button.btn(type="submit") Filter

  // Calculate and Display Earnings
  - let branchEarnings = {};
  - let overallEarnings = 0;

  each order in orders
    - let branchName = order.branch.name;
    - let price = order.menuItem.price;
    - branchEarnings[branchName] = (branchEarnings[branchName] || 0) + price;
    - overallEarnings += price;

  if Object.keys(branchEarnings).length > 0
    h3(style="text-align: center; margin-top:1em;") Branch-wise Earnings:
    ul.total-earnings-list
      each branchName, earnings in branchEarnings
        li(style="text-align: center;")
          strong #{earnings}:
          | &nbsp;$#{branchName}
  else
    p(style="text-align: center;") No orders to calculate branch-wise earnings.

  if overallEarnings > 0
    h3(style="text-align: center; margin-top:1em;") Overall Total Earnings:
    p.total-earnings(style="text-align: center;")
      strong $#{overallEarnings}
  else
    p(style="text-align: center;") No orders to calculate overall total earnings.

  table.tablereport
    thead
      tr
        th Order ID
        th Order Date
        th Menu Item
        th Price
        th Waiter
        th Branch
    tbody
      each order in orders
        tr
          td #{order.id}
          td #{new Date(order.orderDate).toLocaleString()}
          td #{order.menuItem.item}
          td $#{order.menuItem.price.toFixed(2)}
          td #{order.user.email}
          td #{order.branch.name}

include ./layouts/footer
